.floor-1 {
  background-image: url(../img/winter.jpg);
}
.floor-1 .box {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  box-shadow: 0 0 5px #aaa;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  float: left;
  padding: 15px 5px 15px 0;
  overflow: hidden;
  animation: grow 4s infinite 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  -webkit-animation: grow 4s infinite 1s;
  /*Safari and Chrome*/
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
}
@media (max-width: 767px) {
  .floor-1 .box {
    width: 80%;
    top: 20%;
  }
}
@media (min-width: 768px) {
  .floor-1 .box {
    width: 80%;
    top: 20%;
  }
}
@media (min-width: 992px) {
  .floor-1 .box {
    width: 60%;
  }
}
@media (min-width: 1200px) {
  .floor-1 .box {
    width: 40%;
  }
}
.floor-1 .popup-container {
  position: relative;
  top: 50%;
  left: 0;
  float: left;
  transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  z-index: 99;
  width: 35%;
  height: 240px;
  background-color: transparent;
  overflow: hidden;
}
.floor-1 .img-flex {
  position: absolute;
  height: 100%;
}
.floor-1 .img-flex ul {
  font-size: 0;
  height: 100%;
}
.floor-1 .img-flex ul li {
  display: block;
  background-repeat: no-repeat;
  -moz-background-repeat: no-repeat;
  float: left;
  position: relative;
}
.floor-1 .basic-info {
  font-size: 1.5em;
  font-weight: 900;
}
