/* header start*/
.logo-pic,
.nav-menu,
.qq-wrap .qq-icon,
.wechat-wrap .wechat-icon,
.blog-wrap .blog-icon,
.icon-angle {
  background: url("../img/my-iconlist.png") no-repeat;
}
.top-header {
  width: 100%;
  height: 100px;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}
.top-header .container-wrap {
  padding: 2vw;
  display: flex;
  justify-content: space-between;
}
.top-header .container-wrap .logo-pic {
  display: block;
  width: 48px;
  height: 29px;
  background-position: 0 -10px;
}
.top-header .container-wrap .logo-pic:hover {
  background-position: -50px -10px;
}
.top-header .container-wrap .nav-list {
  padding-left: 20px;
  overflow: hidden;
}
.top-header .container-wrap .nav-list ul {
  display: flex;
  margin-top: 0px;
}
.top-header .container-wrap .nav-list ul li a {
  margin-right: 10px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bolder;
  color: #fff;
}
.top-header .container-wrap .nav-list ul li:hover a {
  color: red;
}
.top-header .container-wrap .top-header-left {
  display: flex;
  padding-top: 10px;
}
.top-header .container-wrap .top-header-left .nav-menu {
  width: 20px;
  height: 28px;
  cursor: pointer;
  margin-left: 20px;
  background-position: 0 -38px;
}
.top-header .container-wrap .top-header-left .nav-menu:hover {
  background-position: -20px -38px;
}
.top-header .container-wrap .top-header-right {
  display: flex;
}
.top-header .container-wrap .top-header-right .icon {
  width: 26px;
  height: 26px;
  cursor: pointer;
}
.top-header .container-wrap .top-header-right > div {
  margin-right: 20px;
}
.top-header .container-wrap .top-header-right .qq-wrap {
  position: relative;
}
.top-header .container-wrap .top-header-right .qq-wrap .qq-icon {
  background-position: 0 -239px;
}
.top-header .container-wrap .top-header-right .wechat-wrap {
  position: relative;
}
.top-header .container-wrap .top-header-right .wechat-wrap .wechat-icon {
  background-position: -55px -239px;
}
.top-header .container-wrap .top-header-right .blog-wrap .blog-icon {
  background-position: -90px -239px;
}
.top-header .container-wrap .top-header-right .qr-code-wrap {
  position: absolute;
  top: 26px;
  width: 165px;
  height: 165px;
  display: none;
}
.top-header .container-wrap .top-header-right .qq-pic {
  left: -73px;
}
.top-header .container-wrap .top-header-right .wechat-pic {
  left: -68px;
}
.top-header .container-wrap .top-header-right .wechat-wrap:hover .wechat-pic {
  display: block;
}
.top-header .container-wrap .top-header-right .qq-wrap:hover .qq-pic {
  display: block;
}
.top-header .container-wrap .top-header-right .icon-angle {
  width: 31px;
  height: 20px;
  position: absolute;
  top: 0px;
  left: 40%;
  z-index: 10;
  background-position: -29px -272px;
}
.top-header .container-wrap .top-header-right .qr-code {
  padding: 10px;
  border-radius: 5px;
  background-color: #FFF;
  position: absolute;
  top: 17px;
  left: 0px;
}
.top-header .container-wrap .navbar-default {
  background-color: transparent;
}
.top-header .container-wrap .navbar-default .logo-pic {
  margin: 9px 10px;
}
.top-header .container-wrap .navbar-default #myCollapse ul {
  width: 30%;
  margin-left: 70%;
}
.top-header .container-wrap .navbar-default #myCollapse img {
  width: 50%;
  float: left;
  margin-top: 20px;
  margin-left: 10%;
}
/* header end*/
